
.bgV1{
    -fx-background-color : #212529 ;
}
.nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill:#ffffff80;
    -fx-font-size:18px;
    -fx-line-height: 1.5;
    -fx-alignment:CENTER-LEFT;
    -fx-padding: 0 0 0 15;
}

.nav-btn:hover,
.nav-btn.active{
    -fx-fill:#FFF;
    -fx-text-fill:#FFF;
}

.card-header {
    -fx-background-color: #00000008;
    -fx-border-color:#00000020;
    -fx-border-width:1;
    -fx-border-radius:5 5 0 0
}
.card-body {
    -fx-border-color:#00000020;
    -fx-border-width:0 1 1 1;

}
.badge{
    -fx-font-size: 15;
    -fx-padding : 2 10 2 10 ;
    -fx-background-radius : 5;
}
.badge .label{
    -fx-text-fill:#fff;
}
.bg-success {
    -fx-background-color: #198754;
}
.bg-primary{
 -fx-background-color: #0d6efd;
}
.radio-box{
    -fx-background-color:#fff;
    -fx-border-color:#ccc;
    -fx-border-width:1;
    -fx-padding: 0 4 0 4;
    -fx-font-size : 13
}

.add-btn{
    -fx-background-color:#198754;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"calibri";
    -fx-background-radius:4;
}
.add-btn:hover{
    -fx-background-color:#2268ae;
}
.update-btn{
    -fx-background-color:#0d6efd;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"calibri";
    -fx-background-radius:4;
}
.update-btn:hover{
    -fx-background-color:#0b5ed7;
}
.delete-btn{
    -fx-background-color:#bb2d3b;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:14px;
    -fx-font-family:"calibri";
    -fx-background-radius:4;
}
.delete-btn:hover{
    -fx-background-color:#b02a37;
}
.input-V2{
    -fx-background-color:transparent;
    -fx-border-color : #ccc;
    -fx-border-width:1;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-padding : 5px 10px;
    -fx-border-radius:4px;
    -fx-font-size:14px;
}

.table-row-cell {
    -fx-cell-size: 40px;
}
/*

*/
.top-form{
    -fx-background-color:#fff;
    -fx-border-color:#000;
    -fx-border-width:.4px .4px .2px .4px;
}
.semi-top-form{
    -fx-background-color:#efefef;
    -fx-border-color:#000;
    -fx-border-width:.2px .4px .4px .4px;
}
.close:hover{
    -fx-background-color:#fb3d63;
}

.minimize{
    -fx-background-color:transparent;
    -fx-cursor:hand;
}
.minimize:hover{
    -fx-background-color:#ddd;
}
.header{
    -fx-background-color:linear-gradient(to bottom right , #2d658c, #2ca772);
}
.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #0099ff 0%, #9900ff 100%);
}
.full-back{
    -fx-background-image: url(../imgs/parkA.png);
    -fx-background-size: cover;
}
.input-V1{
    -fx-background-color:transparent;
    -fx-border-color: #e8ecf1;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-padding : 10px;
    -fx-font-size:14px;
}
.combo-box{
    -fx-background-color:transparent;
    -fx-border-color: #e8ecf1;
    -fx-font-family: 'Poppins', sans-serif;
    -fx-font-size:14px;
}
.input-V2.active{
    -fx-border-color: red;
}
.btn-login{
    -fx-text-fill: #fff;
    -fx-background-color: #38ce3c;
}
.btn-login:hover{
    -fx-background-color: #2cb430;
}
.btn{
    -fx-background-color:transparent;
    -fx-font-size:15px;
    -fx-cursor:hand;
}
.icon-menu-profile{
    -fx-size : 15px;
    -fx-cursor:hand;
}
.box-menu-profile:hover .icon-menu-profile,
.box-menu-profile:hover .btn{
    -fx-text-fill:#49ae0e;
    -fx-fill: #49ae0e;
}

.sub-nav-btn{
    -fx-background-color:transparent;
    -fx-cursor:hand;
    -fx-text-fill:#878787;
    -fx-font-size:15px;
    -fx-line-height: 1;
    -fx-padding:0;
    -fx-alignment:CENTER-LEFT;
}
.sub-nav-btn:hover{
    -fx-text-fill:#2c84bf;
}
.nav-icon{
    -fx-fill:#878787;
}
.nav-box:hover .nav-icon,
.nav-box:hover .nav-btn,
.nav-box.active .nav-icon,
.nav-box.active .nav-btn{
    -fx-fill:#49ae0e;
    -fx-text-fill:#49ae0e;
}

.card{
    -fx-background-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-background-radius:4px;
}

.search:focused{
    -fx-border-width:1.8px;
}
.table-view{
    -fx-background-color:transparent;
}
.table-view .table-column{
    -fx-alignment: CENTER;
}
.table-view .column-header-background{


}
.table-view .column-header, .filter{
    -fx-background-color:#fff;
    /*-fx-background-radius:8px 8px 0px 0px;*/
    -fx-border-width:1 0 1 1;
    -fx-border-color:#ccc;
    -fx-size:40px;
}
.table-view .column-header .label{
    -fx-font-family:"Arial";
}
.table-view .item{

    -fx-size:40px;
}
.textfield{
    -fx-background-color:linear-gradient(to bottom, #efefef, #eee);
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
}
.textfield:focused{
    -fx-background-color:#fff;
    -fx-border-width:1px;
}

.insert-btn{
    -fx-background-color:transparent;
    -fx-text-fill:red;
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-cursor:hand;
}

.label-info{
    -fx-background-color:#fff;
    -fx-background-radius:4px;
    -fx-border-color:linear-gradient(to bottom right, #2d658c, #2ca772);
    -fx-border-width:.8px;
    -fx-font-family:"Tahoma";
    -fx-border-radius:4px;
    -fx-padding:0px 0px 0px 5px;
}
.sidebar {
    -fx-background-color: #fff;
    -fx-background-radius:15px;
}
.centerSlide {
    -fx-background-color: #fff;
    -fx-background-radius:15px;
}


.clear-btn{
    -fx-background-color:#6e2275;
    -fx-cursor:hand;
    -fx-text-fill:#fff;
    -fx-font-size:16px;
    -fx-font-family:"Arial";
}
.clear-btn:hover{
    -fx-background-color:#ae21ac;
}
.forgot:hover{
    -fx-text-fill: #22ad72;
}